<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net40" />
  <package id="fastJSON" version="2.1.14.0" targetFramework="net40" />
  <package id="Kaliko.Logger" version="1.1.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2015.3.926.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Fluent" version="2015.3.926.1" targetFramework="net40" developmentDependency="true" />
</packages>