body { background-color: #fafafa; }

/* Generic */
.full-width { width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;}

/* Backgrounds */
.background-checkered { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAHUlEQVQoz2P4jwM8xQEYRjXQRAMuCVwGjWqgiQYA9CnWHwuNlqcAAAAASUVORK5CYII=); }

/* Custom buttons */
.btn-icon { border: none; border-radius: 1em; height: 1em; margin: 0; padding: 0.5em; width: 1em;font-size: 1.5em; position: absolute;z-index: 2;left:50%;top:50%;margin-left:-1em;margin-top:-1em; }
.btn-icon i { display: block; }
.btn-icon-normal { border: none; border-radius: 0.8em; font-size: 1.2em; height: 1.6em; padding: 0; position: relative; width: 1.6em; z-index: 2; }
.btn-icon-normal i { display: block; }


.modal-toolbar { background: #EEEEEE; border-bottom: 1px solid #E0E0E0; border-top: 1px solid #D8D8D8; margin: -16px -15px 10px; padding: 5px 15px; }

.wide-input { width: 540px; }
.medium-input { width: 280px; }
.narrow-input { width: 160px; }


/* Image editor */
#image-description-field.form-inline label { line-height: 30px;margin-bottom: 0; }

/* Collection editor */
.collection-item { display: block;text-align: left;}

/* HTML Editor */
.html-toolbar { display: block; margin: 10px 0 0 0; padding: 0; list-style: disc outside none; background: #eaeaea; padding: 4px;  height: 30px;  border: 1px solid rgb(216, 216, 216); border-bottom: none;  -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; box-shadow: 0 1px 3px rgba(255, 255, 255, 0.075) inset; }
.html-toolbar > li { display: list-item; float: left; list-style: none outside none; margin: 0 5px 0 0; }
.html-toolbar:after { clear: both;content: "";display: table; }
.html-editor-content { background-color: #FFFFFF; border: 1px solid #CCCCCC; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #555555; font-size: 13px; height: 200px; line-height: 18px; margin-bottom: 9px; padding: 4px;  width: 100%;box-sizing: border-box;-moz-box-sizing: border-box; }
.html-editor { height: 200px; }