<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastJSON" version="2.1.14.0" targetFramework="net40" />
  <package id="ImageLibrary" version="3.0.0" targetFramework="net40" />
  <package id="Kaliko.Logger" version="1.1.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2016.2.822.1" targetFramework="net40" />
</packages>