<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- KalikoCMS requires the following three sections -->
    <section name="siteSettings" type="KalikoCMS.Configuration.SiteSettings"/>
    <section name="loggers" type="Kaliko.Configuration.LoggersSection, Kaliko.Logger"/>
    <section name="siteHosts" type="KalikoCMS.Configuration.SiteHostConfiguration"/>
    <!-- If using KalikoSearch as search provider, the following section is also required.
    <section name="searchSettings" type="KalikoSearch.Configuration.SearchSettings" /> -->
  </configSections>
  <!-- SiteSettings is where most of the configuration happens during the following attributes:
  
       adminPath              Path to administration interface. Default value is "/Admin/".
       
       blockedFileExtensions  Defines which file endings that will be blocked from upload in
                              the administration interface. Default value contains most "bad"
                              file types (such as "exe", "pif" etc).
       
       cacheProvider          Defines which provider to use for caching. Default is 
                              "KalikoCMS.Caching.WebCache, KalikoCMS.Engine" which uses
                              the standard ASP.NET web cache.
       
       datastoreProvider      Defines which provider to use for the data store. Default is 
                              "KalikoCMS.Data.StandardDataStore, KalikoCMS.Engine" which uses
                              dataProvider. 
       
       datastorePath          Additional configuration option for the datastore provider.
                              Not used by all providers.
       
       dateFormat             Format used for date/time through the system, default is "yyyy-MM-dd HH:mm:ss"
                              (see http://msdn.microsoft.com/en-us/library/8kb3ddd4.aspx)
       
       filePath               Path to content files. Default is "/Files/".
       
       imageCachePath         Where to store generated images, such as thumbnails. Default is "/ImageCache/".
       
       startPageId            Defines which page that should be considered as the start page
                              and loaded when accessing the domain root.
       
       searchProvider         Defines which search provider to use. Default is "NullSearchProvider" 
                              which disables all search functionality.
   -->
  <siteSettings adminPath="/Admin/" datastoreProvider="KalikoCMS.Data.StandardDataStore, KalikoCMS.Engine" startPageId="00000000-0000-0000-0000-000000000000" searchProvider="KalikoCMS.Search.KalikoSearchProvider, KalikoCMS.Search"/>
  <!-- Configuring KalikoSearch where to store the index and what to analyzer to use. "|DataDirectory|" maps towards your "App_Data"-folder. -->
  <!-- TODO: Extend with analyzer language support -->
  <!-- If using KalikoSearch as search provider, the following section is also required.
  <searchSettings datastorePath="|DataDirectory|\SearchIndex" analyzer="KalikoSearch.Analyzers.SnowballAnalyzer, KalikoSearch" />-->
  <!-- Define loggers used by Logger. Below example logs everything from info and above to file. -->
  <loggers>
    <fileLogger filename="c:\\storelogfileshere\\log.txt" treshold="Info"/>
  </loggers>
  <!-- Default configuration. Will be more important in the future versions. For now, leave as is. -->
  <siteHosts>
    <sites>
      <add name="*" language="en"/>
    </sites>
  </siteHosts>
  <!-- Connectionstring specified for CMS content is named "KalikoCMS" -->
  <connectionStrings>
    <add name="KalikoCMS" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=MyDatabase;Data Source=.\SQLEXPRESS"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Telerik.OpenAccess, Version=2016.2.822.1, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <customErrors mode="RemoteOnly"/>
    <httpModules>
      <!-- KalikoCMS requires InitModule and RequestModule to function. If you want to use short URLs (which are automaticly created for every page) add also ShortUrlModule before the RequestModule. -->
      <add name="InitModule" type="KalikoCMS.Modules.InitModule, KalikoCMS.Engine"/>
      <add name="ShortUrlModule" type="KalikoCMS.Modules.ShortUrlModule, KalikoCMS.Engine"/>
      <!-- Add if using WebForms: <add name="RequestModule" type="KalikoCMS.WebForms.RequestModule, KalikoCMS.WebForms" /> -->
      <!-- Add if using Mvc: <add name="RequestModule" type="KalikoCMS.Mvc.RequestModule, KalikoCMS.WebForms" /> -->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!-- Registering all KalikoCMS web controls for usage on your pages, for instance <cms:PageList .. />
        <add tagPrefix="cms" namespace="KalikoCMS.WebForms.WebControls" assembly="KalikoCMS.WebForms" /> -->
      </controls>
    </pages>
  </system.web>
  <!-- Remember to protect your admin-folder! -->
  <location path="Admin">
    <system.web>
      <!-- Add <httpRuntime requestValidationMode="2.0" /> if using ASP.NET 4 or later -->
      <pages validateRequest="false"/>
      <authorization>
        <allow roles="WebAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <!-- KalikoCMS requires InitModule and RequestModule to function. If you want to use short URLs (which are automaticly created for every page) add also ShortUrlModule before the RequestModule. -->
      <add name="InitModule" type="KalikoCMS.Modules.InitModule, KalikoCMS.Engine"/>
      <add name="ShortUrlModule" type="KalikoCMS.Modules.ShortUrlModule, KalikoCMS.Engine"/>
      <!-- Add if using WebForms: <add name="RequestModule" type="KalikoCMS.WebForms.RequestModule, KalikoCMS.WebForms" /> -->
      <!-- Add if using Mvc: <add name="RequestModule" type="KalikoCMS.Mvc.RequestModule, KalikoCMS.WebForms" /> -->
    </modules>
  </system.webServer>
</configuration>